<div class="users-page">
  <div class="page-header">
    <h2>User Management</h2>
    <a routerLink="/users/create" class="primary-btn">+ Add User</a>
  </div>

  <p *ngIf="loading()">Loading users...</p>
  <p class="error-box" *ngIf="error()">{{ error() }}</p>

  <div class="table-wrapper" *ngIf="!loading() && !error()">
    <table class="users-table">
      <thead>
        <tr>
          <th>Name</th><th>Email</th><th>Role</th><th>Status</th><th>Actions</th><th>Attendance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users()">
          <td>{{ user.full_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role_name }}</td>
          <td>
            <span [class.active]="user.is_active" [class.inactive]="!user.is_active">
              {{ user.is_active ? 'Active' : 'Inactive' }}
            </span>
          </td>
          <td class="actions">
            <a [routerLink]="'/users/view/' + user.id">View</a>
            <a [routerLink]="'/users/edit/' + user.id">Edit</a>
            <button (click)="deleteUser(user)" [disabled]="user.id === currentUserId()">Delete</button>
          </td>
          <td>
  <button
    *ngIf="user.role_name === 'Operator'"
    (click)="toggleAttendance(user)"
    [class.active]="isPresent(user)"
    [class.inactive]="!isPresent(user)">
    {{ isPresent(user) ? 'Present' : 'Absent' }}
  </button>
  <span *ngIf="user.role_name !== 'Operator'">—</span>
</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>